.detail-container{
    min-height: 973px;
    background-color: #1B1C23;
    padding-bottom: 10px;
    padding-top: 63px;
}

.navbar-product-container{
    background-color: #fff;
    height: 63px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .5);
}

.navbar-product-container .navbar-product-button{
    width: 90px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navbar-product-container img{
    width: 32px;
}

.navbar-product-container h3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #2B2E4A;
}

.navbar-cart-container{
    margin: 0 20px 0 0;
    align-self: center;
}

.navbar-cart-container button {
    background: transparent;
    border: none;
    padding: 6px;
    cursor: pointer;
    position: relative;
    font-family: "livvic", sans-serif;
}

.navbar-cart-container button > p{
    position: absolute;
    right: 5px;
    top: 6px;
    background-color: #F01717;
    color: #fff;
    font-weight: 500;
    padding: 1px 3px;
    border-radius: 50%;
}

.card-detail-container{
    background-color: #fff;
    width: 78%;
    max-width: 1151px;
    margin: 63px auto 145px;
    padding: 45px 27px 50px;
    min-height: 670px;
    border-radius: 10px;
    font-family: "Ubuntu", sans-serif;
}

.card-detail-content{
    width: 100%;
    display: flex;
    gap: 49px;
}

.card-detail-content img{
    width: 39.9%;
    height: 458px;
    border-radius: 10px;
}

.card-detail-content .detail-text{
    width: 100%;
    margin-top: 113px;
    font-weight: 500;
    font-size: 20px;
}

.detail-text .detail-text-menu{
    width: 100%;
    margin-bottom: 21px;
}

.detail-text .detail-text-harga{
    margin: 17px 0 21px;
}

.detail-text .detail-text-kategori{
    margin: 21px 0;
}

.detail-text .detail-text-kategori span{
    background-color: #FF793F;
    color: #fff;
    border-radius: 10px;
    padding: 6px 7px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
}

.detail-text .detail-text-desc{
    margin: 17px 0;
}

.detail-text .detail-text-note{
    margin-top: 13px;
    color: #F01717;
    font-size: 15px;
}

.card-detail-button{
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-detail-button button{
    font-family: "Ubuntu", sans-serif;
}

.card-detail-button .card-detail-button-tambah{
    height: 61px;
    background-color: #FF793F;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .4);
    transition: .2s;
}

.card-detail-button .card-detail-button-tambah:hover{
    background-color: #ff8a57;
}

.card-detail-button-tambah:disabled{
    background-color: #ff8a57;
}

.card-detail-button .card-detail-button-beli{
    height: 61px;
    background-color: #42A742;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .4);
    font-weight: bold;
    transition: .2s;
    display: none;
}

.card-detail-button .card-detail-button-beli:hover{
    background-color: #56ac56;
}

.card-detail-button .button-increment-produk{
    background-color: #D0CCCC;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .4);
    display: none;
}

.card-detail-button .button-increment-produk button:first-child{
    height: 61px;
    width: 81px;
    border: none;
    border-right: 1px solid #808080;
    background-color: transparent;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-detail-button .button-increment-produk button:last-child{
    height: 61px;
    width: 81px;
    border: none;
    border-left: 1px solid #808080;
    background-color: transparent;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-detail-button .button-increment-produk button:last-child:hover,.card-detail-button .button-increment-produk button:first-child:hover{
    background-color: #dbdada;
}

.card-detail-button .button-increment-produk p{
    font-size: 25px;
    font-weight: 500;
}

.modal-container-cart {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    padding: 50px;
}
  
.modal-cart {
    border-radius: 10px;
    height: 100%;
    overflow-x: auto;
}

.modal-cart-content{
    width: 100%;
    min-height: 200px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.modal-cart-content h2{
    font-size: 30px;
    margin: 0 50px;
}

.cart-product-item-wrapper{
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
    gap: 20px;
}

.cart-product-item-wrapper .empty-product{
    font-size: 30px;
    text-align: center;
}

.cart-product-item-wrapper .cart-product-item{
    display: flex;
    gap: 20px;
}

.cart-product-item .cart-product-text{
    width: 100%;
}

.cart-product-item .cart-product-text h3{
    margin-bottom: 5px;
}


.list-product-button{
    background-color: #D0CCCC;
    border-radius: 5px;
    height: 33px;
    width: 139px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 30px;
}
.list-product-button button:first-child{
    width: 31px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-right: 1px solid #B2B1B1;
}

.list-product-button button:last-child{
    width: 31px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #B2B1B1;
}

.list-product-button p{
    margin: auto;
}

.cart-button-checkout{
    height: 50px;
    background-color: #42A742;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .4);
    font-weight: bold;
    transition: .2s;
    display: block;
    margin-top: 50px;
}

.cart-button-checkout:hover{
    background-color: #56ac56;
}

.close-modal{
    background-color: rgb(255, 50, 50);
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
  }

/* responsive */
@media (max-width: 1100px){
    .card-detail-content img{
        width: auto;
    }
    .card-detail-container{
        margin: 63px auto 10px;
    }
}

@media (max-width: 950px){
    .card-detail-content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-detail-content .detail-text{
        margin-top: 0px;
    }
}

@media (max-width: 650px){
    .card-detail-container{
        width: 100%;
    }
    .navbar-product-container h3{
        font-size: 18px;
    }
}

@media (max-width: 450px){
    .detail-text .detail-text-menu,.detail-text .detail-text-harga,
    .detail-text .detail-text-kategori,
    .detail-text .detail-text-desc{
        font-size: 18px;
    }
    .detail-text .detail-text-note{
        font-size: 13px;
    }
    .card-detail-content img{
        width: 350px;
    }
    
    .modal-container-cart{
        padding: 50px 0;
    }
}