.hero-text-container {
  background: url("../../../assets/images/DALL·E\ 2022-09-22\ 21.47\ 1.png");
  height: 660px;
  background-position: center;
  padding: 150px;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text-children {
  width: 520px;
  display: flex;
  flex-direction: column;
}

.hero-text-children p {
  letter-spacing: -0.5px;
  font-size: 24.5px;
  color: white;
  font-weight: bold;
}

.hero-text-children .hero-button {
  background-color: #ff793f;
  width: 220px;
  height: 52px;
  margin-top: 7px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px) {
  .hero-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px;
  }
  .hero-text-children{
    width: 100%;
  }
  .hero-text-children h1{
    font-size: 32px;
  }
  .hero-text-children p{
    font-size: 20px;
  }
}

@media (max-width: 650px){
  .hero-text-container{
    padding: 0 30px;
  }
  .hero-text-container{
    background-attachment: unset;
  }

  .hero-text-children .hero-button{
    margin-top: 20px;
    align-self: center;
  }
}