.checkout-container{
    background-color: #1B1C23;
    padding-bottom: 42px;
}

.checkout-card-container{
    background-color: #fff;
    width: 78%;
    min-height: 816px;
    margin: 36px auto 0;
    padding: 36px 51px 32px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
}

.checkout-input-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;
}

.checkout-input-wrapper label{
    font-size: 25px;
    font-weight: 500;
}

.checkout-input-wrapper input{
    height: 46px;
    padding: 10px 28px 12px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    font-size: 21px;
    font-weight: bold;
}

.checkout-input-wrapper input[type=text], .checkout-input-wrapper input[type=number]{
    margin-bottom: 14px;
}

.checkout-input-wrapper p{
    font-size: 17px;
    font-weight: 500;
    color: #FF3838;
    font-style: italic;
}

.checkout-list-wrapper{
    display: flex;
    flex-direction: column;
}

.checkout-list-wrapper h3:first-child{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 14px;
    font-style: italic;
}

.checkout-list-wrapper .checkout-list-content{
    padding: 80px 41px;
    display: flex;
    gap: 85px;
    width: 100%;
}

.checkout-list-wrapper .checkout-list-content .list-product-wrapper{
    display: flex;
    flex-direction: column;
    gap: 34px;
    width: 100%;
}

.list-product-wrapper .list-product-empyt{
    margin: auto;
    font-size: 25px;
    font-weight: bold;
}

.list-product-wrapper .list-product{
    display: flex;
    gap: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 380px;
}

.list-product-wrapper .list-product .list-product-text{
    font-size: 20px;
    font-weight: 500;
}

.list-product-wrapper .list-product p:first-child{
    font-style: italic;
    width: 15ch;
}

.list-product-wrapper .list-product p:last-child{
    color: #1B477B;
}

.list-product-wrapper .list-product .list-product-button{
    background-color: #D0CCCC;
    border-radius: 5px;
    height: 33px;
    width: 139px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.list-product-wrapper .list-product .list-product-button button:first-child{
    width: 31px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-right: 1px solid #B2B1B1;
}

.list-product-wrapper .list-product .list-product-button button:last-child{
    width: 31px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #B2B1B1;
}

.list-product-wrapper .list-product .list-product-button p{
    margin: auto;
}

.list-address-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%
}

.list-address-wrapper h4{
    font-size: 20px;
    font-weight: 500;
}

.list-address-wrapper p{
    font-size: 20px;
    font-weight: 400;
}

.checkout-list-wrapper h3:last-child{
    margin: 17px 0;
    font-size: 21px;
    font-weight: 500;
    font-style: italic;
}

.checkout-list-wrapper h3:last-child span{
    color: #1B477B;
}

.checkout-button-wrapper{
    width: 100%;
}

.checkout-button-wrapper button{
    background-color: #42a742;
    width: 100%;
    height: 52px;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .5);
    cursor: pointer;
}

.checkout-button-wrapper p{
    margin-top: 4px;
    color: #FF3838;
    font-size: 17px;
    font-weight: 500;
    font-style: italic;
}

/* responsive */
@media (max-width: 1100px){
    .checkout-list-wrapper .checkout-list-content{
        flex-direction: column;
        padding: 40px 20px;
    }
    .list-product-wrapper{
        align-items: center;
    }
    .list-address-wrapper{
        align-items: center;
    }
    .list-address-wrapper p{
        text-align: center;
    }
}

@media (max-width: 650px){
    .checkout-card-container{
        padding: 36px 25px;
        width: 97%;
    }
    .checkout-input-wrapper label{
        font-size: 20px;
    }
    .checkout-list-wrapper h3:first-child{
        font-size: 25px;
    }
    .list-address-wrapper h4{
        font-size: 25px;
    }
    .checkout-button-wrapper p{
        font-size: 15px;
    }
}

@media (max-width: 450px){
    .checkout-input-wrapper p{
        margin-top: 5px;
        font-size: 14px;
        text-align: center;
    }
    .list-address-wrapper h4{
        font-size: 20px;
    }
    .list-address-wrapper p{
        font-size: 15px;
    }
    .list-product-wrapper .list-product{
        width: 300px;
    }
    .list-product-wrapper .list-product p:first-child,.list-product-wrapper .list-product p:last-child{
        font-size: 15px;
    }
    .checkout-button-wrapper p{
        font-size: 12px;
        text-align: center;
        padding-top: 3px;
    }
    .checkout-list-wrapper h3:last-child{
        font-size: 18px;
    }
}