header {
  margin: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.header-container {
  width: 100%;
  background: rgba(68, 67, 67, 0.4);
  position: fixed;
}

header h1 {
  font-size: 20px;
  font-weight: bold;
  color: #1b1c23;
}

header h1 span {
  color: #ff793f;
  position: absolute;
  transform: translate(-11px, 14px);
}

header ul {
  list-style-type: none;
  display: flex;
  width: 320px;
  justify-content: space-between;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background: #fef8fd;
  border-radius: 3px;
  transition: all 0.2s;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 27px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

/* HAMBURGER MENU ANIMATION */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

@media (max-width: 900px) {
  header{
    margin: 0 50px;
  }
}
@media (max-width: 570px){
  header{
    margin: 0;
    padding: 0 50px;
    height: 75px;
  }
  header ul{
    background-color: #1b1c23;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 75px;
    display: none;
  }
  header ul.slide{
    display: flex;
  }
  header ul li{
    text-align: center;
  }

  header ul li a{
    font-size: 30px;
  }
  header h1{
    font-size: 23px;
  }
  .menu-toggle{
    display: flex;
  }
}