header {
  margin: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.header-container {
  width: 100%;
  background: rgba(68, 67, 67, 0.4);
  position: fixed;
}

header h1 {
  font-size: 20px;
  font-weight: bold;
  color: #1b1c23;
}

header h1 span {
  color: #ff793f;
  position: absolute;
  transform: translate(-11px, 14px);
}

header ul {
  list-style-type: none;
  display: flex;
  width: 320px;
  justify-content: space-between;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 900px) {
  header{
    margin: 0 50px;
  }
}