.card-wrapper {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #d9d9d9;
  width: 400px;
  height: 350px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.card-wrapper .card-heading {
  margin-bottom: 30px;
}

.card-wrapper .card-heading h2 {
  font-size: 25px;
  font-weight: bold;
}

.card-wrapper form {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.card-wrapper form label {
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 2px;
}

.card-wrapper form input {
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 25px;
  padding-left: 5px;
}

.card-wrapper form button {
  margin-top: 20px;
  background-color: #ff793f;
  border: none;
  border-radius: 5px;
  padding: 6px 0;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: bold;
  outline: 1px solid #ff793f;
}
.card-wrapper form button:hover {
  background-color: #ff9263;
  outline: 1px solid #ff793f;
}

.card-wrapper form p {
  font-weight: bold;
}

.card-wrapper form p a {
  color: #297479;
}

.card-wrapper form p a:hover {
  text-decoration: none;
}

@media (max-width: 560px) {
  .card-wrapper {
    width: 350px;
    height: 350px;
  }
}
