.container{
    position: relative;
}

.container .arrow-button{
    position: fixed;
    bottom: 53px;
    right: 51px;
    border-radius: 100%;
    border: none;
    background: url(../images/arrowHome.png);
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .5);
    transition: .3s;
}

.container .arrow-button:hover{
    transform: translateY(-15px);
}